:root {
  --secondaryColor: #243447;
  --primaryColor: #192734;
  --accentColor: #1da1f2;
  --border: 2px solid red;
  --linkBg: #162d40;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--primaryColor);
  color: white;
}

.nav-items {
  padding: 0.5em 0;
  font-size: 1.25rem;
  border-radius: 20px;
}

.nav-items a {
  padding: 0.5em;
  font-size: 1.25rem;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}
.nav-items:hover {
  background-color: var(--linkBg);
}
.nav-items a:hover {
  color: #1da1f2;
  font-size: 1.4rem;
}

textarea:focus,
input:focus {
  outline: none;
}
.user-tweet,
.tweet-body {
  display: flex;
}
.tweet-body {
  padding-left: 1em;
  width: 100%;
}
#tweet {
  background-color: var(--secondaryColor);
  font-size: 1.5rem;
  margin-left: 1em;
  border: 0;
  color: white;
  padding-right: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  resize: none;
  overflow: hidden;
}
.user-tweet {
  justify-content: space-between;
  padding: 1em;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--secondaryColor);
}
.container {
  max-width: 980px;

  margin: 1em auto;
  display: flex;
  justify-content: space-between;
}
.user-image {
  width: 10%;
}

.tweet-btn {
  align-self: flex-end;
  border-radius: 40px;
  width: 15%;
  height: 2em;
  display: block;
  border: 0;
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
  background-color: var(--accentColor);
  opacity: 0.8;
}
.tweet-btn:hover {
  opacity: 1;
}

/* aside */
.search-twitter {
  width: 100%;
  background-color: var(--secondaryColor);
  color: white;
  padding-left: 1em;
  border: none;
  height: 3em;
  border-radius: 20px;
}
.trending {
  padding: 1em;
  margin-top: 2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--secondaryColor);
}
.trending h2 {
  padding-bottom: 0.25em;
  display: block;

  width: 100%;
}

.current-trending {
  margin-top: 0.25em;

  width: 100%;
}

.trending-info {
  text-align: left;
  color: white;
  opacity: 0.8;
  font-size: 0.75rem;
  margin-bottom: 1em;
  text-transform: none;
}
.solid {
  border-top: 1px solid white;
  opacity: 0.7;
  padding: 0;
}
.trending-title {
  text-align: left;
  margin-top: 1em;
  font-weight: 600;
  font-size: 1.1rem;
}
.trending-table {
  margin-left: 0;
}
.twitter-logo {
  width: 5%;
}
.show-more {
  text-decoration: none;
  margin-top: 1em;
  color: #1da1f2;
  font-size: 1.1rem;
}
.show-more:hover {
  opacity: 0.7;
}

.follow-more {
  padding: 1em;
  margin-top: 2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 20px;

  background-color: var(--secondaryColor);
}
.follow-more h2 {
  margin-bottom: 0.25em;
}
.follow-more-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.follow-more-user {
  width: 50%;
}
.follow-btn {
  width: 20%;
  height: 50%;
  border-radius: 20px;
  padding: 0.5em;
  border: 2px solid var(--accentColor);
  background-color: #243447;
  color: #1da1f2;
}

.follow-more-image {
  width: 20%;
  height: 75%;
}
main {
  width: 60%;
}
aside {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  background: var(--secondaryColor);
}
header img {
  width: 10%;
  display: block;
}
ul {
  display: flex;
  justify-content: center;

  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}
li {
  margin-left: 1em;
}

.user-profile-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 0.5em;
}
.user-profile-name h2 {
  font-size: 1.1rem;
  margin-top: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.user-profile-name p {
  font-size: 0.9rem;
  opacity: 0.8;
}
.user-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1em;
  width: 20%;
}
.user-image {
  width: 15%;
}
.tweet-body .user-image {
  width: 10%;
}

nav-bar {
  width: 100%;
  justify-content: space-between;
}
